{% extends 'base.html' %}

{% load static %}
{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="text-center"><strong>Gestion de Horarios</strong></h1>
        <br>
        <h3 class="text-center">Software de Gestion de Horarios Sena <br>CTPI Sub Sede Santander De Quilichao</h3>
        <br>
        <div style="text-align:center;">
            <img src="{% static 'images/Sena2.png' %}"  width="250px" height="200px" style="right: 100px;">
            </div>
            <br>
            <div class="text-center">
                {% if user.is_authenticated %}
                <a class="btn btn-dark" href="/programa/">Ver los programas</a>
                <a class="btn btn-dark" href="/signup/">Registrar Usuario</a>
           
                {% endif %}
                
            </div>


    </section>

</main>
{% endblock %}