{% extends 'base.html' %}

{% block content %}

<div class="row">

	{% for trimestre_uno in Trimestre_Uno %}

	<a href="/programa/">
	<div class="col-lg-3">
		<div class="box-element product">
			<h2><strong>{{trimestre_uno.nom_Trimestres_Uno}}</strong></h2>
			<img src="/static/images/sena.png" style="width:100px;height:100px;">
		</div>
	</div>
	</a>

	{% endfor %}


	<div class="row">
	
		{% for trimestre_dos in Trimestre_Dos %}
	
		<a href="/programa/">
		<div class="col-lg-3">
			<div class="box-element product">
				<h2><strong>{{trimestre_dos.nom_Trimestres_Dos}}</strong></h2>
				<img src="/static/images/sena.png" style="width:100px;height:100px;">
			</div>
		</div>
		</a>
	
		{% endfor %}


		<div class="row">
		
			{% for trimestre_tres in Trimestre_Tres %}
		
			<a href="/programa/">
			<div class="col-lg-3">
				<div class="box-element product">
					<h2><strong>{{trimestre_tres.nom_Trimestres_Tres}}</strong></h2>
					<img src="/static/images/sena.png" style="width:100px;height:100px;">
				</div>
			</div>
			</a>
		
			{% endfor %}


<div class="row">

	{% for trimestre_cuatro in Trimestre_Cuatro %}

	<a href="/programa/">
	<div class="col-lg-3">
		<div class="box-element product">
			<h2><strong>{{trimestre_cuatro.nom_Trimestres_Cuatro}}</strong></h2>
			<img src="/static/images/sena.png" style="width:100px;height:100px;">
		</div>
	</div>
	</a>

	{% endfor %}

{% endblock %}