{% extends 'base.html' %}

{% block content %}


<section>
  <div>
    <a href="/programa/create/" class="btn btn-secondary btn-sm mt-2 offset-md-2"> Crear Programa de Formacion</a>
  </div>

</section>

<main class="container">
  <div class="row">
    <div class="col-md-5 offset-md-2 mt-4">
      <table class="table table_bordered">
        <thead>
          <tr>
            <td><strong>#</strong> </td>
            <td><strong>Ficha</strong> </td>
            <td><strong>Nombre del Programa</strong></td>
            <td><strong>Centro de Formacion</strong></td>
            <td><strong>Nombre del Instructor</strong></td>
            <td><strong>Jornada</strong></td>
            <td><strong>Inicio de Jornada</strong></td>
            <td><strong>Finalizacion</strong></td>
            <td><strong>Dias</strong></td>

          </tr>
        </thead>
        <tbody>
          {% for programa_Formacion in agendas %}
          <tr>
            <td>{{programa_Formacion.id}}</td>
            <td>{{programa_Formacion.ficha}}</td>
            <td>{{programa_Formacion.nombre_Programa}}</td>
            <td>{{programa_Formacion.id_Centro_Formacion.nombre_Centro }}</td>
            <td>{{programa_Formacion.id_Instructor.nombre }}</td>
            <td>{{programa_Formacion.jornada }}</td>
            <td>{{programa_Formacion.agenda.hora_Inicio }}</td>
            <td>{{programa_Formacion.agenda.hora_Fin }}</td>
            <td>{{programa_Formacion.agenda.asignacion.dias_Semana }}</td>
            </td>
          </tr>
          {% endfor %}
        
        </tbody>
      </table>
      
    </div>
  
  </div>

</main>

{% endblock %}