* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
.container{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    gap: 16px;
}
  
.img{
    height:auto; 
    width:100%; 
    position:relative;
    background-position: center;
    
}

.card{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width: auto;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 