{%  extends 'base.html' %}


{% block content %}

<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
method="POST">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>


<div class="row">

    {% for instructor in instructores %}

    <div class="col-lg-2">
        <div class="box-element product">
            <h2><strong>{{instructor.nombre}}</strong></h2>
            <h2><strong>{{instructor.apellido}}</strong></h2>
            <h2><strong>{{instructor.tipo_Instructor}}</strong></h2>
            <td><a href="{% url 'editarInstructor' instructor.id %}" class="btn btn-secondary btn-sm">Editar</a>
							<a href="{% url 'eliminarInstructor' instructor.id %}" class="btn btn-danger btn-sm">Eliminar</a></td>
						
           
          </div>
    </div>

    {% endfor %}
</div>
<br>
<section>
  <div>
    <a href="/instructores/create/" class="btn btn-secondary btn-sm"> Crear Instructores</a>
  </div>
  
  </section>

{%  endblock %}